{% extends "layout.html" %}

{% block title %}Predict - My ML Model{% endblock %}

{% block content %}
<div class="prediction-form">
    <h1>Make a Prediction</h1>
    <!-- Your form code here -->
    <form method="post" action="{{ url_for('predict') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.area.label }}
            {{ form.area(class="form-control") }}
            {% for error in form.area.errors %}
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.rooms.label }}
            {{ form.rooms(class="form-control") }}
            {% for error in form.rooms.errors %}
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="submit-button") }}
        </div>
    </form>
    <div class="message-box">
        <h3>{{ message }}</h3>
    </div>
    <a class="button" href="{{ url_for('home') }}">Go to Home Page</a>
</div>
{% endblock %}
